<!-- empty cart  -->
<div class="container-fluid mt-5" *ngIf="cartitem.length == 0">
  <div class="container my-5 pb-5">
    <div class="row">
      <div class="col-12 text-center emptCart">
        <img class="empty-cart" src="../../../assets/images/empty-cart.png" width="200" alt="">
        <h1 class="mt-4 pb-3">Yout Cart is Empty</h1>
        <h4 class="pb-2">Add a few product and come here to checkout.</h4>
        <button type="button" routerLink="" class="bg-success text-white rounded py-2 px-3">CONTINUE
          SHOPPING</button>
      </div>
    </div>
  </div>
</div>





<div class="container mb-5 mt-2" *ngIf="cartitem.length != 0">
  <div class="row">
    <div class="col">
      <button (click)="removeall()" class="btn btn-danger m-2">Empty Cart</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table border">
        <thead class="thead-dark ">
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col ">Image</th>
            <th scope="col ">price</th>
            <th scope="col ">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartitem, let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{product.title}}</td>
            <td><img [src]="product.image"></td>
            <td>${{product.price}}</td>
            <td><i (click)="removecart(product)" class="fa-sharp fa-solid fa-trash text-danger"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-end">
      <span class="bg-dark text-white p-3 rounded">Total : ${{grand}}</span>
      <button class="btn btn-success m-2 " (click)="showModal()" data-toggle="modal" data-target="#exampleModal">Check
        Out</button>
    </div>
  </div>


  <!-- Modal  -->
  <div [ngStyle]="{'display': displayModal}" class="container-fluid position-fixed top-0 start-0 " style=" z-index: 1;">
    <div class="row px-5" style="height: 200vh;background-color: rgba(0, 0, 0, 0.8);">
      <div class="col-12 text-end p-1 pt-lg-5">
        <div class="col-10 col-lg-4  mx-auto  rounded p-3 bg-white text-start mt-5">
          <div class="row py-2 rounded">
            <div class="col">
              <button class="btn btn-danger" (click)="closeModal()">close</button>
            </div>
          </div>
          <div class="row">
            <h5>Enter your details</h5>
            <div class="col-12 "><input type="text" class="p-2 border border-success my-1" placeholder="Full Name">
            </div>
            <div class="col-12 "><input type="text" class="p-2 border border-success  my-1" placeholder="Address"></div>
            <div class="col-12 "><input type="text" class="p-2 border border-success  my-1" placeholder="State"></div>
            <div class="col-12 "><input type="text" class="p-2 border border-success  my-1" placeholder="City"></div>
            <div class="col-12 "><input type="text" class="p-2 border border-success  my-1" placeholder="Pincode"></div>
            <div class="col-12 text-end"><button type="button" class="btn btn-success my-2 ">Place Order</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>