<div class="container-fluid position-relative py-4" style="background-color: #e9e7e7;">
  
  <div class="row mx-5">
    <div class="col-md-6 col-lg-3 my-2" *ngFor="let product of allProducts | filter:searchTerm:'title' ">
      <div class="card mx-auto py-1 ">
        <button class="bg-white" (click)="showModal(product)" type="button" style="border:none"><img
            [src]="product.image" alt="" style="width:170px; height:200px"></button>
        <div class="p-2">
          <h6 class="pb-2">{{product.title}}</h6>
          <p class="category">{{product.category}}</p>
          <p class="pb-1">{{product.rating.rate}}<i class="fa-solid fa-star"></i><span
              class="text-muted">({{product.rating.count}})</span></p>
          <h5>${{product.price}}</h5>
          <div class="text-center py-2">
            <button (click)="addToWishlist(product)" class="btn btn-outline-danger  mx-3"><i
                class="fa fa-heart "></i></button>
            <button (click)="addtocart(product)" class="btn btn-outline-success  mx-3"><i
                class="fa fa-cart-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal  -->
  <div [ngStyle]="{'display': displayModal}" class="container-fluid position-fixed top-0 start-0 " style=" z-index: 1;">
    <div class="row px-5" style="height: 200vh;background-color: rgba(0, 0, 0, 0.8);">
      <div class="col-12 text-end p-1 pt-lg-5">
        <div class="col-10 col-lg-6  mx-auto  rounded p-3 bg-white text-start mt-5">
          <div class="row py-2 rounded">
            <div class="col-lg-10 ps-3">
              <h5 class="fw-bolder">{{modalData.title}} </h5>
            </div>
            <div class="col-lg-2 text-end">
              <button class="btn btn-danger" (click)="closeModal()">close</button>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <img [src]="modalData.image" alt="" style="width:140px; height:170px">
              <h5> ${{modalData.price}}</h5>
              <p class="fw-bold" style="color:#333;">{{modalData.category}}</p>
            </div>
            <div class="col-lg-6 pt-3">
              <p style="font-size:90%"><b>Description :</b> {{modalData.description}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>