<div class="container-fluid border py-1 py-lg-3 bg-white ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ps-lg-5 text-center text-lg-start">
                <a routerLink="/" class=""><i class="fa-sharp fa-solid fa-cart-shopping"></i>ShoPLifT</a>
            </div>
            <div class="col-lg-4 text-center pt-1 pt-lg-0">
                <input class="rounded" (keyup)="search($event)" placeholder="Search your products">
            </div>
            <div
                class="col-lg-4 text-center d-flex align-items-center justify-content-center py-2 py-lg-0 justify-content-lg-end ">
                <button type="button" class="mx-2" routerLink="products/wishlist">Wishlist</button>
                <button type="button" class="mx-2" routerLink="products/cart">Cart-<span>{{cartcount}}</span></button>
            </div>
        </div>
    </div>
</div>